<section>
    <h2 class="text-3xlc ">Popular Collections</h2>
    <div class="cursor-pointer m-5c flexC gap-5c overflow-x-auto scrollbar-hide">
        <img src="../../../assets/img/top-movies-1.png" alt="Card image cap">
        <img src="../../../assets/img/top-movies-2.png" alt="Card image cap">
        <img src="../../../assets/img/top-movies-3.png" alt="Card image cap">
        <img src="../../../assets/img/top-movies-4.png" alt="Card image cap">
        <img src="../../../assets/img/top-movies-5.png" alt="Card image cap">
        <img src="../../../assets/img/top-movies-6.png" alt="Card image cap">
    </div>
</section>